form {
    width: 300px;
    margin: 0 auto ;
}
form input,
form button{
    width: 49%;
    display: inline-block;
    font-size: 14pt;
    line-height: 32px;
    padding: 4px 8px;
}

h1 {
    width: 100%;
    text-align: center;
}

ul {
    list-style: none;
    overflow: scroll;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul > li {
    display: inline-block;
    border: 1px solid seagreen;
    border-radius: 50%;
    line-height: 32px;
    width: 32px;
    font-size: 14pt;
    margin: 8px;
    padding: 8px;
    text-align: center;

    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    opacity: 1;
}

ul > li.hidden {
    opacity: 0;

    transition-timing-function: ease-in-out, step-end;
}

ul.origin.done>li {
    display: none;
}

ul.origin.done>li:not(.hidden) {
    line-height: 80px;
    min-width: 80px;
    font-size: 64pt;
    display: inline-block;
    margin: 16px;
    padding: 16px;
}

ul.dead > li {
    border-color: darkred;
}